.button{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.button--primary{
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid #2c3e50;
}

.button--primary:hover{
    background-color: #fff;
    color: #2c3e50;
}
.card-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
    width: 100%;
}
.card:nth-child(5n+1){
    grid-column: 1 /  -2;
}
@media (max-width: 1280px){
    .card-grid-wrapper{
      grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1080px){
    .card-grid-wrapper{
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px){
    .card-grid-wrapper{
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 550px){
    .card-grid-wrapper{
      grid-template-columns: 1fr;
    }
}



.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.card .card_image{
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    
}

.card .card_title{
    font-size: 24px;
    font-weight: 700;
    
    margin-bottom: 20px;
}

.card .card_paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1080px;
}
@media (min-width: 1080px){
    .container{
      max-width: 1080px;
    }
}
@media (min-width: 1280px){
    .container{
      max-width: 1260px;
    }
}
@media (min-width: 1536px){
    .container{
      max-width: 1530px;
    }
}
@media(min-width: 1840px){
    .container{
      max-width: 1740px;
    }
}
@media(min-width: 2000px){
    .container{
      max-width: 1840px;
    }
}