<template>
  <div class="card-grid-wrapper">
    <MoleculesCard v-for="item in data" :key="item.id" :item="item"></MoleculesCard>
  </div>
</template>

<script setup>
let data = ref([]);
onMounted(async () => {
  const response = await $fetch("https://jsonplaceholder.typicode.com/albums/1/photos");
  data.value = response;
});
</script>
