import { AtomsButton } from '#build/components';
<template>
  <div class="card">
    <img :src="props.item.url" class="card_image" :alt="props.item.id" />
    <h1 class="card__title">{{ props.item.title }}</h1>
    <p class="card_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis metus et felis scelerisque aliquam. Curabitur a fringilla erat. Nulla vehicula magna et lacinia tincidunt. Vivamus dictum tincidunt tincidunt. Praesent mattis, mi quis consequat finibus, ante est convallis augue, sed aliquet mi nisl vitae arcu.</p>
    <AtomsButton class="button--primary">Read More...</AtomsButton>
  </div>
</template>
<script setup>
const props = defineProps({
  item: {
    type: Object,
    required: true
  }
});
</script>
